{% extends "layout.html" %}

{% block body %}
  <div class="container">
    <div class="jumbotron my-2">
      <h1 class="logo">Gensfleisch</h1>
      <hr class="my-4">
      <form action="{{ url_for('search') }}" method=post>
        <div class="form-inline">
          <div class="form-group">
            <label class="my-1 mr-2" for="searchby">Search by</label>
            <select class="custom-select my-1 mr-2" name="searchby">
              <option selected>Book</option>
              <option>Author</option>
              <option>ISBN</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" class="form-control my-1 mr-2" name="searchfor" placeholder="Search for...">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary my-1">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
